extends layout

block content
.page
  span logo
  main
  h1= title
  h3 Welcome to, howdy, #{title}
  #promo
  .promo-title It is an amazing course! wanna sign up ?
  button.aswer.anwer-yes Yes!
  button.answer.answer_no No?
